* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

window#waybar {
  background-color: transparent; /* rgba(30, 30, 46, 0.8);*/
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
  min-height: 0;
  border-radius: 4px;
  margin: 6px 3px;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  border-radius: 4px;
  padding-left:  14px;
  padding-right: 14px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #1e1e2e;
  opacity: 0.8;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
  opacity: 0.8;
}

#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #1e1e2e;
  color: #181825;
  opacity: 0.8;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  border-radius: 4px;
  color: #cdd6f4;
}

#memory {
  background-color: #fab387;
}

#battery {
  background-color: #1e1e2e;
  opacity: 0.8;
  color: #cdd6f4;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  color: #FFFF00;
  opacity: 0.8;
}

#battery.charging {
  background-color: #a6e3a1;
  color: #181825;
  opacity: 0.8;
}

#backlight {
  background-color: #1e1e2e;
  opacity: 0.8;
  color: #cdd6f4;
}

#wireplumber {
  background-color: #1e1e2e;
  opacity: 0.8;
  color: #cdd6f4;
}

#network {
  background-color: #1e1e2e;
  opacity: 0.8;
  color: #cdd6f4;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: #1e1e2e;
  opacity: 0.8;
  color: #cdd6f4;
}

#custom-power {
  color: #cdd6f4;
  background-color: #1e1e2e;
  opacity: 0.8;
}


tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
